<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="CroweHelloWorld" type="Crowe.HelloWorld.CroweHelloWorldSection,Crowe.HelloWorld" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <CroweHelloWorld>
    <outputtype value="Database" />
  </CroweHelloWorld>
   
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
