<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CroweHellowWorld" type="Crowe.HelloWorld.CroweHelloWorldSection,Crowe.HelloWorld" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <CroweHellowWorld>
    <outputtype value="Console" />
  </CroweHellowWorld>
  
</configuration>